.category-list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 2rem;
}

.category-tile {
  margin: 0.5rem;
  border: 1px solid black;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-name {
  text-align: center;
}
